@font-face {
  font-family: 'The Bold Font';
  src: url(midia/font/theboldfont.ttf);
}
@font-face {
  font-family: 'MADE Outer Sans';
  src: url(midia/font/outersans.otf);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'The-Bold-Font', sans-serif;
}
body{
  background: #90E0F6
}
header
{
  position: fixed;
  display: flex;
  justify-content:left;
  align-items: center;
  padding: 40px 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header .logo
{
  position: fixed;
  left: -6px;
  top: 5px;
  cursor: pointer;
}
.headbtn a 
{
font-family: 'MADE Outer Sans', sans-serif;
font-weight: 500;
color: #688DF7;
text-decoration: none;
cursor: pointer;
list-style: none;
display: inline-block;
text-align: center;
padding-top: 4px;

width: 94px;
height: 34px;
left: 145px;
top: 13px;
background: #FFFFFF;
border: 3px solid #688DF7;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 23px;
	-webkit-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.headbtn a:hover 
{
color: #ffffff;
background: #688DF7;
border: 3px solid #ffffff;

}
.links{
    position: absolute;
    top: 12px;
    left: 180px;
}
.links li {
    top: 110px;
    display: inline-block;
}
#otombtn a{
    color: #5ABBFF;
    border: 3px solid #5ABBFF;
} 
#otombtn a:hover 
{
color: #ffffff;
background: #5ABBFF;
border: 3px solid #ffffff;
}
.navbar
{
position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}
video
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text
{
  position: relative;
  text-align: left;
  top: -100px;
}

.text h2
{

width: 695px;
height: 152px;

font-family: 'The Bold Font', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 160px;
line-height: 170px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text p
{

width: 580px;
height: 58px;

font-family: 'MADE Outer Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.text a
{
/* assets */

position: absolute;
width: 83px;
height: 33px;
left: 0px;
top: 220px;

font-family: 'MADE Outer Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
text-decoration: underline;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.text a:hover
{
 color: #688DF7;

}
#playlist
{
left: 100px;
}
#chars
{
left: 205px;
}
#extras
{
left: 385px;
}
.social
{
  position: absolute;
  z-index: 10;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.back img{

position: absolute;
width: 100%;
bottom: 100%;
left: 0px;
top: 350px;

}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
.otom{
  position: absolute;
  width: 140px;
  height: 140px;
}
.recchars{
  position: relative;
  animation: 50s linear infinite;
}
.about iframe{
position: absolute;
left: 310px;
top: 800px;
border: 3px solid #418C13;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 18px;
}
.recchars{
  top: 2000px;
width: 98.9vw;
height: 63vh;
text-align:center;
background: url(midia/recchars.png) repeat;
-webkit-animation: backgroundScroll 9999999s linear infinite;
animation: backgroundScroll 999999s linear infinite; /* Adjust timing here according to speed required */
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -99999999px 0;}
}
.oqueeotom h6{
position: absolute;
width: 371px;
height: 46px;
left: 52px;
top: 520px;

font-family: 'The Bold Font', sans-serif;
font-size: 48px;
line-height: 48px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;
}
.oqueeotom p{
position: absolute;
width: 724px;
height: 167px;
left: 50px;
top: 594px;

font-family: 'MADE Outer Sans';
font-size: 22px;
line-height: 28px;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
color: #FFFFFF;
}